:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: red;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: aqua;
  cursor: pointer;
  transition: border-color 0.25s;
}

input {
  height: 30px;
  border-radius: 5px;
  border: 1.5px solid white;
}

select {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}
